:root {
    --primary: #0d192e;
    --secondary: #03cffc;
    --white: #eef0f4;
}

html {
    font-family: "Trebuchet MS";
    overflow-y: scroll;
}

body {
    background-color: var(--white);
    padding: 0;
    margin: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    background-color: var(--primary);
}

header .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
  
header a {
    color: var(--white);
    font-size: 1.15rem;
    text-decoration: none;
    transition: all 0.2s ease;
}
  
header a:hover {
    opacity: 0.5;
}
  
header .brand a {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 555px;
}
  
header .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-right: 50px;
}
  
header .nav-links li {
    display: inline-block;
}

.btn {
    padding: 10px 15px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 999px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    border: none;
    font-size: 01rem;
    transition: all 0.3s ease;
    line-height: 1.1;
}
  
.btn:hover {
    background-color: #1f7e93;
    opacity: 1;
    cursor: pointer;
}
  
.btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}

input:focus {
    outline: none;
}

.add-content {
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
  
.add-content .input-wrapper input {
    width: 62%;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 1.25rem;
    margin-right: 5px;
}

#search-btn {
    margin-right: 5px;
    height: 35px;
}
  
.results {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
  
.results li {
    list-style: none;
}
  
.result-card {
    display: flex;
    margin-bottom: 20px;
}

.result-card .poster-wrapper img {
    border-radius: 5px;
}
  
.result-card .poster-wrapper img .filler-poster {
    width: 75px;
    height: 113px;
    background-color: #dbdada;
    border-radius: 5px;
    margin-right: 15px;
    display: block;
    color: transparent;
}
  
.result-card .info {
    display: flex;
    flex-direction: column;
}
  
.result-card .info .title {
    font-size: 1.25rem;
    color: var(--primary);
    font-weight: 600;
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
}
  
.result-card .info .overview {
    font-size: 0.95rem;
    font-weight: 300;
    color: var(--primary);
    margin-left: 10px;
}

.result-card .info .rating {
    font-size: 0.95rem;
    font-weight: 300;
    color: var(--primary);
    margin-left: 10px;
}

.info .header {
    margin: 0px;
}

.controls {
    margin-left: 10px;
    margin-bottom: 25px;
}
  
.result-card .controls button {
    margin-right: 10px;
}
  
.movie-page {
    padding: 30px 0;
}
  
.movie-page .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
  
.count-pill {
    display: block;
    background-color: var(--secondary);
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 999px;
    color: var(--primary);
}
  
.movie-page .heading {
    color: var(--primary);
    margin: 0;
}
  
.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
  
@media (min-width: 992px) {
    .movie-grid {
      grid-template-columns: repeat(5, 1fr);
    }
}
  
.card-list {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 0;
    display: block;
}
  
.card-list img {
    width: 100%;
    height: 100%;
    display: block;
}
  
.card-list .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: all 0.2s;
}
  
.card-list:hover .overlay {
    border: 5px solid var(--secondary);
}
  
.card-list .inner-card-controls {
    display: inline;
    position: absolute;
    top: 1%;
    left: 3%;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.3s ease;
    opacity: 0;
}
  
.card-list:hover .inner-card-controls {
    opacity: 1;
}

.remove-btn {
    color: #fefefe;
    background-color: #070000;
    border-radius: 50%;
    border: none;
    transition: all 0.3s ease;
    font-size: 0.75rem;
    padding: 2px;
    margin: 0;
}

.remove-btn:hover {
    color: #ed4c4c;
    cursor: pointer;
}

.card-list .inner-card-controls .move-controls {
    height: 100px;
    width: 220px;
    transform: translate(-5%, 180%);
}

.move-btn {
    color: #fefefe;
    background-color: #070000;
    border: none;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    transform: translate(160%, 210%);
}
  
.move-btn:hover {
    color: var(--secondary);
    cursor: pointer;
}
  
.ctrl-btn {
    color: #fefefe;
    background-color: #070000;
    border: none;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    transform: translate(35%, 90%);
    margin-right: 5px;
}
  
.ctrl-btn:hover {
    color: var(--secondary);
    cursor: pointer;
}

.ctrl-btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}
  
.movie-page .no-movies {
    color: #c4c4c4;
    font-size: 3rem;
    text-align: center;
}